.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #131324;
  }
  
  .logo {
    color: #fff;
    font-size: 24px;
  }
  
  .logo span {
    color: #ffc107;
  }
  
  ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
  }
  
  .intro-text {
    max-width: 500px;
  }
  
  .intro-text h2 {
    color: #ffc107;
    font-size: 22px;
  }
  
  .intro-text h1 {
    font-size: 48px;
    margin: 20px 0;
  }
  
  .intro-text p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .contact-btn {
    background-color: #ffc107;
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .intro-img img {
    width: 300px;
    height: auto;
    border-radius: 15px;
  }
  